---
http_interactions:
- request:
    method: post
    uri: https://testapi.smileidentity.com/v1/job_status
    body:
      encoding: UTF-8
      string: '{"user_id":"dmKaJazQCziLc6Tw9lwcgzLo","job_id":"52e7cd72a1ee4e0e1094","partner_id":"921","image_links":false,"history":false,"source_sdk":"Ruby","source_sdk_version":"2.0.1","signature":"wF7vRhsWaqilA0LzBEsnFrVseFfgbNK28KHwkF7ogH4=","timestamp":"2022-10-27
        02:53:53 +0000"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - d6dbd4f4-7302-4aa1-975c-6dc094a82d39
      allow:
      - POST
      x-amz-apigw-id:
      - apLecFaxPHcFgZg=
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp":"2022-10-27T02:53:55.174Z","signature":"l+eeguqu396F5oipdYF3oZzNJdoWokz8/93vOY7kofI=","job_complete":true,"job_success":false,"code":"2302","result":{"Source":"WebAPI
        - ruby","Actions":{"Liveness_Check":"Not Applicable","Register_Selfie":"Not
        Applicable","Selfie_Provided":"Not Applicable","Verify_ID_Number":"Not Verified","Human_Review_Compare":"Not
        Applicable","Return_Personal_Info":"Not Returned","Selfie_To_ID_Card_Compare":"Not
        Applicable","Human_Review_Update_Selfie":"Not Applicable","Human_Review_Liveness_Check":"Not
        Applicable","Selfie_To_ID_Authority_Compare":"ID Authority Photo Not Available","Update_Registered_Selfie_On_File":"Not
        Applicable","Selfie_To_Registered_Selfie_Compare":"Not Applicable"},"ResultCode":"1016","ResultText":"Unable
        to validate ID - This feature is not enabled for your Smile ID account.","ResultType":"SYSTEM","SmileJobID":"0000000261","JSONVersion":"1.0.0","IsFinalResult":"true","PartnerParams":{"job_id":"52e7cd72a1ee4e0e1094","user_id":"dmKaJazQCziLc6Tw9lwcgzLo","job_type":"1"},"ConfidenceValue":"0","IsMachineResult":"true"},"kyc_receipt":"https://portal.smileidentity.com/api/v3/921/job_result_summary/0000000261/generate_pdf?signature=l+eeguqu396F5oipdYF3oZzNJdoWokz8/93vOY7kofI=&timestamp=2022-10-27T02:53:55.174Z&environment=test"}'
      effective_url: https://testapi.smileidentity.com/v1/job_status
  recorded_at: Thu, 27 Oct 2022 02:53:53 GMT
recorded_with: VCR 6.1.0
