---
http_interactions:
- request:
    method: post
    uri: https://testapi.smileidentity.com/v1/upload
    body:
      encoding: UTF-8
      string: '{"signature":"VqkfvBEGl0wpjaBraXvs1ns+8SPKyVZSD45u/t+f7AQ=","timestamp":"2022-10-26
        18:56:01 +0000","file_name":"selfie.zip","smile_client_id":"921","partner_params":null,"model_parameters":{},"callback_url":"www.default_callback.com","source_sdk":"Ruby","source_sdk_version":"2.0.1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - ba27ee17-ea9c-41c7-bade-13c239c01fac
      allow:
      - POST
      x-amz-apigw-id:
      - aoFedHTqPHcFcig=
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Invalid job type.","code":"2212"}'
      effective_url: https://testapi.smileidentity.com/v1/upload
  recorded_at: Wed, 26 Oct 2022 18:56:02 GMT
recorded_with: VCR 6.1.0
