---
http_interactions:
- request:
    method: post
    uri: https://testapi.smileidentity.com/v1/upload
    body:
      encoding: UTF-8
      string: '{"signature":"rg2ydy50jAYWQxTkkNOjUTzb13CtLpCW8OPizKvRT+I=","timestamp":"2022-10-27
        13:25:49 +0000","file_name":"selfie.zip","smile_client_id":"921","partner_params":null,"model_parameters":{},"callback_url":"www.default_callback.com","source_sdk":"Ruby","source_sdk_version":"2.0.1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - 8f3e333a-c3c3-4b12-81a7-5d1638150626
      allow:
      - POST
      x-amz-apigw-id:
      - aqoC1G80PHcFaFw=
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Invalid job type.","code":"2212"}'
      effective_url: https://testapi.smileidentity.com/v1/upload
  recorded_at: Thu, 27 Oct 2022 13:25:51 GMT
recorded_with: VCR 6.1.0
