---
http_interactions:
- request:
    method: post
    uri: https://testapi.smileidentity.com/v1/token
    body:
      encoding: UTF-8
      string: '{"user_id":"dmKaJazQCziLc6Tw9lwcgzLo","job_id":"88580fca9011e6f19f5b","job_type":1,"product":"123","callback_url":"www.default_callback.com","signature":"tdf3NNVeE4iUhTdSVjiFCbPKfBhqv8VsARf4UYvWBl8=","timestamp":"2022-10-27
        13:52:38 +0000","partner_id":"921","source_sdk":"Ruby","source_sdk_version":"2.0.1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      content-type:
      - application/json
      x-amzn-requestid:
      - ea32f22d-28cb-4b7c-aba0-c1bd48b732d1
      allow:
      - POST
      x-amz-apigw-id:
      - aqr-NGc8vHcFymQ=
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Invalid product.","code":"2217"}'
      effective_url: https://testapi.smileidentity.com/v1/token
  recorded_at: Thu, 27 Oct 2022 13:52:39 GMT
recorded_with: VCR 6.1.0
